.gradient-border {
  position: relative;
  border: 2px solid transparent;
  border-radius: 50px;
  background-image: linear-gradient(#e66465, #9198e5);
  background-clip: padding-box, border-box;
  background-origin: border-box;
  padding: 5px 10px;
}
